/* Comportamento da bolha do chat */
 
.iframe-flutuante {
    display: block;
    position: relative;
    top: -22px;
    border: 0px;
    width: 100%; /* Preenche toda a largura da iframe-container */
    height: 100%; /* Preenche toda a altura da iframe-container */
    border-radius: 10px; /* Mantém os cantos arredondados */
    border: none; /* Remove bordas */
    z-index: 2; /* Sobre o conteúdo da .container */
}
