<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('../parciais/header') %>
</head>

<body>
    <div align="center">
        <img src="images/logoMMkt-1080x1080.png" alt="Um vetor vazio por enquanto, mas tudo vai mudar em breve" /></p>
        <h1><%= homeData.data.attributes.tagLine %></h1>
        <h3><%= homeData.data.attributes.catchFrase %></h3>
    </div>

    <div class="iframe-container">
        <iframe src="https://mentalmarketing.com.br/indexB.html" class="iframe-flutuante"></iframe>
        <button onclick="toggleIframe()" class="collapse-button"><i class="fa-solid fa-robot" id="collapse-icon"></i></button>
    </div>
</body>

<script src="js/toggleIframe.js"></script>

</html>
