<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('../parciais/header') %>
</head>

<body>
  <div class="container">

    <img src="images/cropped_magenta.svg" 
      alt="<%= homeData.data.attributes.tagLine %>" 
      class="logo" />
    <p class="line">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
    <p class="description">
      Produtos digitais que agregam valor à <br> comunicação e aos negócios.
    </p>
    
    <div class="chatContainer">

      <div class="iframe-panel">
        <div id="iframeContainer" class="iframe-container-hidden">
          <div id="iframeFlutuante" class="iframeFlutuante">
            
            <div class="chat-section">
              <div class="messages-container">
                <!-- as mensagens aparecem aqui -->
              </div>
            </div>
      
            <div class="form-section">
              <form>
                <input type="text" id="textUser" name="textUser" placeholder="Diga algo..." required>
                <button type="submit">&nbsp;&nbsp;>>>&nbsp;&nbsp;</button>
              </form>
            </div>
          </div>
        </div>
      </div>

      <button onclick="toggleIframe()" class="collapse-button">
        <img src="images/robot_Icon-transp50.png" alt="Abrir Chat" class="button-icon" />
      </button>
      <p class="email">Fale com nosso agente!</p>

    </div>

  </div>    
</body>

<script src="js/chat.js"></script>
<script src="js/toggleIframe.js"></script>

</html>
