<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <%- include('../parciais/header') %>
</head>

<body>
    <div class="container">
      <img src="images/cropped_magenta.svg" 
             alt="<%= homeData.data.attributes.tagLine %>" 
             class="logo" />
        <p class="line">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _</p>
        <p class="description">
          Produtos digitais que agregam valor à <br> comunicação e aos negócios
        </p>
        <p class="email">Contato:</p>
        <div class="chatContainer">
          <div class="iframe-panel">
            <div id="iframeContainer" class="iframe-container-hidden">
              <button class="closeIframeBtn" onclick="toggleIframe()"></button>
              <!-- <iframe src="https://mentalmarketing.com.br/zildo" class="iframe-flutuante"></iframe> -->
              <iframe id="iframeFlutuante" src="http://localhost:4689/" class="iframe-flutuante"></iframe>
            </div>
          </div>
          <button onclick="toggleIframe()" class="collapse-button">
            <img src="images/robot_Icon-transp50.png" alt="Abrir Chat" class="button-icon" />
          </button>
        </div>
    </div>    
</body>

<script src="js/toggleIframe.js"></script>

</html>

